* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
html, body {
    min-height: 100%;
    background-color: #31363F;
    font-size: 20px;
    font-family: sans-serif;
}
.box {
    background: #1b135b;
    width: 500px;
    border: 2px solid #3db19b;
    padding: 20px 40px;
    text-align: center;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}
.box h1 {
    color: #ffeea4;
    font-size: 1.2em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}
.box p {
    background-color: #DDDDDD;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #222831;
    margin-bottom: 20px;
}
.box .buttons {
    display: flex;
    justify-content: center;
}
.box .buttons a {
    display: block;
    padding: 10px 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    text-decoration: none;
}
.box .buttons a:nth-of-type(1) {
    border-color: #24c8e2;
    color: #fff;
    background: #27d127dd;
    box-shadow: 0 0 10px #1988ad;
}
.box .buttons a:nth-of-type(2) {
    border-color: #c82110;
    color: #fff;
    background: linear-gradient(#7a160b, #180017);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 30%;
}
.box .buttons a + a {
    margin-left: 20px;
}
.box .buttons a.confirm {
    position: relative;
    overflow: hidden;
}
.box .buttons a.confirm:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    transform: translateX(-100%);
    transition: none;
}
.box .buttons a.confirm:hover:before {
    transition: all 1s linear;
    transform: translateX(0%);
}  
