* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*::selection {
    background-color: transparent;
}

*::-moz-selection {
    background: transparent;
}
 
* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

* {
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}
:root{
    font-family: Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    cursor:default;
    --color-white: #fff;
    --color-black: #000;
    --color-dark-mode:#11111b;
    --color-light-mode:#ece7e1;
    --color-ddd-color: #ddd;
    --color-gray: #c4c4c4;
    --color-purple: #8000ff;
    --color-light-purple: #cf59e6;
    --color-light-blue: #6bc5f8;
    --color-navbarBorder-dark:#20222e10;
    --color-shadowDark:rgba(0, 0, 0, 0.137);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track {
    background: #0a0a10;
}
::-webkit-scrollbar-thumb{
   background-color: #8000ff;
   /* border-radius: 20px; */

}
body{
    background-color: var(--color-dark-mode);
    overflow-x: hidden;
}


/* for light mode */
.light-mode{
    --color-dark-mode:#ece7e1;
    --color-black: #fff;
    --color-white: #000;
    --color-ddd-color: rgb(31, 31, 31);
    --color-navbarBorder-dark:#c5cae1;
}




.projects-section-container{
    margin: 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.projects-section-div{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.projects-heading{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.projects-heading-article{
    font-size:3rem;
    font-family: fira code;
    font-weight: 500;
    background-image: -webkit-gradient(linear,left top,right top,from(#b0f3f1),to(#ffcfdf));
    background-image: -webkit-linear-gradient(left,#b0f3f1,#ffcfdf);
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.projectsHeadingP{
    width: 300px;
    height: 1px;
    background-image: -webkit-gradient(linear,left top,right top,from(#b0f3f1),to(#ffcfdf));
    background-image: -webkit-linear-gradient(left,#b0f3f1,#ffcfdf);
    background-image: linear-gradient(90deg,#b0f3f1,#ffcfdf);
}
.project-boxes-div{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}
.project-boxes-div a{
    text-decoration: none;
    width: 100%;
}
.project-box{
    background-color: rgba(255, 255, 255, 0.005);
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition-duration: .3s;
    position: relative;
    box-shadow: 0px 10px 20px var(--color-shadowDark);
}
.language-gradient-class{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.113);
}
.project-box:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientforlanguage 5s ease infinite;
    top: 0;
    left: 0;
}
.info-div{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 0 40px;
}
.faviconforProject{
    background-color: white;
    width: 20px;
    border-radius: 50%;
}
.faviconforProjectAquaregia{
    width: 20px;
}
.image-div{
    width: 50%;
    height: 100%;
    overflow: hidden;
    padding-top: 70px;
    padding-left: 10px;
}
.image-div img{
    height: 100%;
    /* border-top-left-radius:10px ; */
   
}
.ProjectHeading{
    color: var(--color-white);
    font-size: 3.4rem;
    font-weight: 700;
}
.ProjectDescription{
    color: gray;
    font-size: 1.7rem;
    font-weight: 400;
}
/* Project visit button */
.cta {
    position: relative;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
   
   }
   
   .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    /* background: #b1dae7; */
    background-color: var(--color-navbarBorder-dark);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .cta span {
    position: relative;
    /* font-family: "Ubuntu", sans-serif; */
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    /* color: #234567; */
    color: var(--color-light-blue);
   }
   
   .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    /* stroke: #234567; */
    stroke: var(--color-light-blue);
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .cta:hover:before {
    width: 100%;
    /* background: #b1dae7; */
   }
   .cta:hover span{
    color:white;
   }
   .cta:hover svg{
    stroke:white;
   }
   
   .cta:hover svg {
    transform: translateX(0);
   }
   
   .cta:active {
    transform: scale(0.95);
   }
/* Project visit button */
.project-box:hover{
    transform: translate(-5px,-10px);
    transition-duration: .3s;
}
/* .upevent:hover{
    color: red;
} */

