* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  
  body {
      background-color: #080643;
      font-family: "Satoshi", sans-serif;
  }
  
  .head-title {

    display: flex;
    justify-content: space-between;
  }
  
  .back-sidebar {
    flex: 0 0 180px;
  }
  
  .logout {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #f4f4f4;
    padding: 11px 0;
    padding-left: 37px;
    background: #161621;
    width: 180px;
    margin-bottom: 20px;
  }
  
  .logout img {
    width: 20px;
  }
  
  .menu-box {
    margin-top: 122px;
    padding-left: 37px;
    margin-bottom: 70px;
  }
  
  .item-menu {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #f4f4f4;
    padding: 11px 0;
    margin-bottom: 15px;
  }
  
  a:link {
    text-decoration: none;
  }
  
  .item-menu img {
    width: 20px;
  }
  
  .event-li-location {
    color: #9e9daf;
    font-size: 0.87rem;
    text-transform: capitalize;
  }
  
  .event-li-title {
    color: #f4f4e7;
    font-size: 1.1rem;
    text-transform: capitalize;
  }
  
  .event-li-date {
    position: absolute;
    bottom: 14px;
    right: 14px;
    background-color: #000000b8;
    color: #f4f4f4;
    padding: 7px 10px;
    border-radius: 100px;
    font-size: 0.8rem;
  }
  
  .picture {
    position: relative;
    margin-bottom: 5px;
  }
  
  .list-events {
    display: flex;
    justify-content: space-between;
    gap: 14px;
    margin-top: 20px;
  }
  
  .picture img {
    width: 145px;
    height: 145px;
    border-radius: 33px;
  }
  
  .box-map-event {
    flex: 0 0 calc(100% - 343px);
  }
  
  .location-event {
    display: flex;
    align-items: center;
    color: #a2a4b6;
    font-weight: 500;
    gap: 4px;
  }
  
  .location-event img {
    width: 13px;
  }
  
  .title-event {
    color: #f4f4f4;
    font-size: 1.9rem;
    font-weight: 900;
    text-transform: capitalize;
  }
  
  .discraption-event {
    margin-top: 25px;
    color: #f4f4f4;
  }
  
  .get-event {
    display: block;
    background-color: #4a46e6;
    width: 100%;
    height: 49px;
    border-radius: 100px;
    text-align: center;
    line-height: 3.34;
    color: #f4f4f4;
    margin-top: 18px;
    font-weight: 600;
    font-size: 0.9rem;
  }
  
  .date-event {
    color: #ffb21d;
    font-weight: 500;
  }
  
  .info-event {
    padding: 21px;
  }
  
  .event-banner {
    width: 100%;
    height: 273px;
  }
  
  .box-search {
    display: flex;
    align-items: center;
    position: absolute;
    top: 26px;
    left: 26px;
    width: 280px;
    height: 45px;
    border-radius: 100px;
    background-color: #00000069;
    gap: 13px;
    padding-left: 14px;
    margin-right: 26px;
  }
  
  .box-search img {
    width: 17px;
  }
  
  .box-search input {
    background: none;
    border: none;
    height: 100%;
    color: #f4f4f4;
    font-size: 0.95rem;
    width: 100%;
  }
  
  .box-search input::placeholder {
    color: #f4f4f4;
  }
  
  .event {
    flex: 0 0 310px;
    background-color: #1a1a28;
    border-radius: 29px;
    height: fit-content;
  }
  
  .map {
    background-image: url(https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/map.jpg);
    height: 389px;
    position: relative;
    border-radius: 29px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .page-content {
    display: flex;
    gap: 33px;
    margin-top: 28px;
  }
  
  .btn-operation:link img {
    width: 29px;
    height: auto;
  }
  
  .title-page {
    color: #f4f4f4;
    font-size: 2.5rem;
  }
  
  .header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
  }
  
  .operation-info {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .profile {
    border-radius: 100px;
    width: 60px;
    height: 60px;
    filter: grayscale(1);
  }
  
  .main {
    flex: 0 0 calc(100% - 180px);
    padding: 0 41.5px;
    padding-top: 34px;
    padding-bottom: 50px;
  }
  
  .logo-type {
    width: fit-content;
    margin: auto;
    font-weight: 900;
    color: #4676e5;
    font-size: 1.5rem;
  }
  
  .sidebar {
    position: absolute;
    width: 180px;
    padding-top: 50px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .sidebar::-webkit-scrollbar {
    width: 4px;
  }
  
  .sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #202028;
  }
  
  .sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4676e5;
  }
  
  .main-box {
    display: flex;
    max-width: 1217px;
    margin: 31px auto;
    background-color: #161621;
    position: relative;
    border-radius: 33px;
  }
  
  @media only screen and (max-width: 1245px) {
    .list-events {
      display: flex;
      justify-content: space-between;
      gap: 14px;
      margin-top: 20px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      align-content: flex-start;
    }
    .event-li {
      display: flex;
      gap: 12px;
    }
  
    .box-info-event {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px;
    }
    .event-li-date {
      bottom: 10px;
      right: 10px;
      color: #f4f4f4;
      border-radius: 57px;
      font-size: 0.6rem;
    }
    .picture img {
      width: 117px;
      height: 117px;
      border-radius: 22px;
    }
  }
  
  .menu {
    display: none;
    cursor: pointer;
  }
  
  .menu img {
    width: 41px;
  }
  
  .hidden {
    display: none !important;
  }
  
  .show {
    display: block !important;
  }
  
  @media only screen and (max-width: 1131px) {
    .event {
      display: none;
    }
  
    .box-map-event {
      flex: 0 0 100%;
    }
  
    .menu {
      display: block;
    }
  
    .head-title {
      display: block;
    }
  
    .back-sidebar {
      width: 100%;
      height: 100%;
      display: flex;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      align-items: center;
      justify-content: center;
      position: fixed !important;
      z-index: 999999;
      transition: 0.3s;
      top: 0;
      left: 0;
      background-color: #2625377a;
    }
  
    .main {
      flex: 0 0 100%;
    }
  
    .map {
      border-radius: 54px;
    }
  
    .title-page {
      font-size: 1.6rem;
      margin-top: 43px;
      text-align: center;
    }
  
    .list-events {
      margin-top: 50px;
      justify-content: center;
    }
  
    .event-li {
      width: 392px;
      background: #282739;
      border-radius: 22px;
    }
    .picture {
      margin-bottom: -5px;
    }
  
    .sidebar {
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 9999999;
      background-color: #161621;
      transition: 0.3s;
    }
  
    body:not(.show-responsive-menu) .sidebar {
      overflow: hidden;
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden;
    }
  
    body:not(.show-responsive-menu) .back-sidebar {
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
    }
  
    .box-search {
      width: fit-content;
      padding: 0 14px;
      cursor: pointer;
    }
  
    .box-search input {
      display: none;
    }
    
    .main-box {
      margin: 0 !important;
      border-radius: 0 !important;
    }
    
    .main {
      padding: 0 23.5px;
      padding-top: 34px;
      padding-bottom: 50px;
    }
  }
  
  @media only screen and (max-width: 896px) {
    .event-li {
      width: 100%;
      margin-bottom: 21px;
    }
  
    .list-events {
      display: block;
    }
  }
  
  @media only screen and (max-width: 1232px) {
    .main-box {
      margin: 31px 17px;
    }
  }

  #venue{
    margin-top: 100px;
}
a{
	text-decoration: none;
}
 h1 {
	 text-align: center;
	 font-size: 2.5rem;
     color: white;
}
 form {
	 max-width: 768px;
	 display: block;
	 background: #162e3f;
	 padding: 25px;
	 margin: 40px auto;
	 box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
	 color: #fff;
}
 fieldset {
	 border: none;
	 margin: 10px auto;
}
 fieldset legend {
	 margin: 30px 0 0;
	 font-size: 24px;
	 font-weight: 700;
}

 .double-input {
	 margin: 20px auto;
}
 .double-input > div {
	 float: left;
	 width: 48%;
	 margin-bottom: 10px;
	 margin: 0 1% 10px;
}
 .double-input:after {
	 content: "";
	 display: table;
	 clear: both;
}
 .form-input-container label {
	 display: block;
	 margin-bottom: 10px;
}
 .form-input-container.date-select select {
	 width: 47%;
}
 .form-input-container.date-select select:first-of-type {
	 margin-right: 3%;
}
 .form-input-container select {
	 width: 100%;
	 color: white;
	 background: transparent;
	 border: 1px solid #a9a9a9;
	 padding: 8px;
	 height: 35px;
}
.venueContainer select{
    width: 28%;
}
 .form-input-container select:focus {
	 border: 1px solid #2db92d;
}
 .form-input-container select option {
	 color: black;
}
 .form-input-container input {
	 width: 100%;
	 color: white;
	 padding: 8px;
	 height: 35px;
	 background: transparent;
	 border: 1px solid #a9a9a9;
}
 .form-input-container input:focus {
	 border: 1px solid #2db92d;
}
 button[type="submit"] {
	 height: 50px;
	 width: 300px;
	 background: #2db92d;
	 border: none;
	 cursor: pointer;
	 font-size: 20px;
	 line-height: 50px;
	 font-family: 'Lato';
	 box-shadow: 0px 0px 10px #131313;
	 display: block;
	 margin: 0 auto;
     margin-top: 30px;
}
 


.multisteps-form__progress {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
}
.multisteps-form__progress-btn {
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  position: relative;
  padding-top: 20px;
  color: rgba(108, 117, 125, 0.7);
  text-indent: -9999px;
  border: none;
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
}
@media (min-width: 500px) {
  .multisteps-form__progress-btn {
    text-indent: 0;
  }
}
.multisteps-form__progress-btn:before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 13px;
  height: 13px;
  content: '';
  transform: translateX(-50%);
  transition: all 0.15s linear 0s, transform 0.15s cubic-bezier(0.05, 1.09, 0.16, 1.4) 0s;
  border: 2px solid currentColor;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  z-index: 3;
}
.multisteps-form__progress-btn:after {
  position: absolute;
  top: 5px;
  left: calc(-50% - 13px / 2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 100%;
  height: 2px;
  content: '';
  background-color: currentColor;
  z-index: 1;
}
.multisteps-form__progress-btn:first-child:after {
  display: none;
}
.multisteps-form__progress-btn.js-active {
  color: #007bff;
}
.multisteps-form__progress-btn.js-active:before {
  transform: translateX(-50%) scale(1.2);
  background-color: currentColor;
}
.multisteps-form__form {
  position: relative;
}
.multisteps-form__panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.multisteps-form__panel.js-active {
  height: auto;
  opacity: 1;
  visibility: visible;
}
.multisteps-form__panel[data-animation="scaleOut"] {
  transform: scale(1.1);
}
.multisteps-form__panel[data-animation="scaleOut"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}
.multisteps-form__panel[data-animation="slideHorz"] {
  left: 50px;
}
.multisteps-form__panel[data-animation="slideHorz"].js-active {
  transition-property: all;
  transition-duration: 0.25s;
  transition-timing-function: cubic-bezier(0.2, 1.13, 0.38, 1.43);
  transition-delay: 0s;
  left: 0;
}
.multisteps-form__panel[data-animation="slideVert"] {
  top: 30px;
}
.multisteps-form__panel[data-animation="slideVert"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  top: 0;
}
.multisteps-form__panel[data-animation="fadeIn"].js-active {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.multisteps-form__panel[data-animation="scaleIn"] {
  transform: scale(0.9);
}
.multisteps-form__panel[data-animation="scaleIn"].js-active {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  transform: scale(1);
}
