.loading {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222; /* Change this to the background color of your preloader */
  display: flex;
  justify-content: center;
  z-index: 9999;
  }
  body .loading{
    overflow: hidden;
  }
  .svgbox {
    --blue: rgb(148, 66, 63);
    stroke: var(--blue);
    stroke-width: 5;
    fill: none;
    stroke-dasharray: 50, 14;
    stroke-dashoffset: 192;
    animation: dash_animation 1.4s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes dash_animation {
    72.5% {
      opacity: 1;
    }
    to {
      stroke-dashoffset: 1;
    }
  }

  
  