<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="..\static\css\dashboard.css">
</head>
<body>
    <main class="main-box">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <aside class="sidebar">
          <a href="{{url_for('homepage')}}"><div class="logo-type">CLUBSYNC</div></a>
          <nav class="menu-box">
            <a href="{{url_for('eventDashboard')}}"
              ><li class="item-menu">
                <img
                  src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/star.svg"
                />Event
              </li></a
            >
            <a href="{{url_for('eventticket')}}"
              ><li class="item-menu">
                <img
                  src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/ticket.svg"
                />Ticket
              </li></a
            >
            <a href="#"
              ><li class="item-menu">
                <img
                  src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/payments.svg"
                />Payments
              </li></a
            >
            <a href="#"
              ><li class="item-menu">
                <img
                  src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/favorite.svg"
                />Favorite
              </li></a
            >
            <a href="{{url_for('eventsettings')}}"
              ><li class="item-menu">
                <img
                  src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/setting.svg"
                />Settings
              </li></a
            >
          </nav>
          <a href="{{url_for('logout')}}"
            ><div class="logout">
              <img
                src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/logout.svg"
              />Logout
            </div></a
          >
        </aside>
        <div class="back-sidebar" id="back-sidebar"></div>
        <div class="main">
          <div class="head-title">
            <header class="header-main">
              <div class="menu">
                <a href="#">
                    <img
                  src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/menu.svg"
                  id="menu"
                />
                </a>
              </div>
              <div class="operation-info">
                <a href="#" class="btn-operation"
                  ><img
                    src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/bag.svg"
                /></a>
                <a href="#" class="btn-operation"
                  ><img
                    src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/notification.svg"
                /></a>
              </div>
            </header>
            <h1 class="title-page">Dashboard</h1>
          </div>
          <div class="page-content">
            <div class="box-map-event">
              <div class="event">
                <img
                <img src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/event-banner.png" style="width: 400px; height: 300px;" />
                  alt="Concert Maneskin"
                  class="event-banner"
                />
                <div class="info-event">
                  <div class="date-event"></div>
                  <h2 class="title-event">{{context.upper()}}</h2>
                  <div class="location-event">
                    <img
                      src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/location.svg"
                    />
                    TMSL, Kolkata
                  </div>
                  <p class="discraption-event">
                    {{context.upper()}} Club is a tech club in ABC college.
                  </p>    
                </div>
              </div>



              <div class="list-events">
                <a href="#"
                  ><article class="event-li">
                    <div class="picture">
                      <img
                        src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/event-1.jpg"
                        alt="Ariana Grande"
                      />
                      <div class="event-li-date">8:00 PM</div>
                    </div>
                    <div class="box-info-event">
                      <h2 class="event-li-title">Event-1</h2>
                      <div class="event-li-location">10 September, Turkey</div>
                    </div>
                  </article></a
                >
                <a href="#"
                  ><article class="event-li">
                    <div class="picture">
                      <img
                        src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/event-2.jpg"
                        alt="Rey"
                      />
                      <div class="event-li-date">12:00 PM</div>
                    </div>
                    <div class="box-info-event">
                      <h2 class="event-li-title">Event-2</h2>
                      <div class="event-li-location">29 August, kolkata</div>
                    </div>
                  </article></a
                >
                <a href="#"
                  ><article class="event-li">
                    <div class="picture">
                      <img
                        src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/event-3.jpg"
                        alt="Coldplay"
                      />
                      <div class="event-li-date">4:00 PM</div>
                    </div>
                    <div class="box-info-event">
                      <h2 class="event-li-title">event-3</h2>
                      <div class="event-li-location">9 September, kolkata</div>
                    </div>
                  </article></a
                >
                <a href="#"
                  ><article class="event-li">
                    <div class="picture">
                      <img
                        src="https://raw.githubusercontent.com/emnatkins/cdn-codepen/main/gOQRaMY/event-4.jpg"
                        alt=""
                      />
                      <div class="event-li-date">10:00 AM</div>
                    </div>
                    <div class="box-info-event">
                      <h2 class="event-li-title">Event-4</h2>
                      <div class="event-li-location">2 September, kolkata</div>
                    </div>
                  </article></a
                >
              </div>
            </div>
            
          </div>
        </div>
      </main>
      <script src="..\static\js\dashboard.js"></script>
</body>
</html>