<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/forgotPassword.css" />
    <title>Forgot Password</title>
</head>

<body>
    <div class="row">
        <h1 class="glitch-text">
            <span aria-hidden="true">Forgot Password</span>
        </h1>
        <h6 class="glitch-text">
            <span aria-hidden="true">Enter your registered email to reset your password.</span>
        </h6>
        <form action="{{url_for('forgotPassword')}}" method="POST">
            <div class="form-group">
                <input placeholder="Enter your email" type="email" name="user_email" id="user_email" required>
                <button type="submit">Reset Password</button>
            </div>
        </form>
        <div class="footer">
            <h5>Back to Login Page? -> <a href="{{url_for('signup')}}">Login Page.</a></h5>
        </div>
    </div>
</body>

</html>